* {
	margin: 0;
	padding: 0;
}

body{
	height: 100dvh;
	display: flex;
	align-items: center;
	overflow: hidden;
}
div{
	width: 100%;
	height: 100%;
	background-color: #2f8f9d;
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
}
#resultado{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: end;
	font-family: sans-serif;
	font-size: 5rem;
	font-weight: 700;
	background-color: #b3e8e5;
	overflow-x: scroll;
	color: #2f8f9d;
	grid-row: 1 / 3;
	grid-column:1 / 5;
}
#resultado::-webkit-scrollbar {
	display: none;
	background-color: transparent;
}
button{
	background-color: #b3e8e5;
	border: none;
	border-radius: 5px;
	margin: 5px;
}
button:hover{
	background-color: #3bacb6;
}


#operadores{
	grid-column:4 / 5;
	grid-row: 4 / 8;
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: 1fr;
}
#numeros{
	grid-column:1/4;
	grid-row:5/8;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}


#limpiar{
	max-height: 100px; 
	grid-column:1 / 4;
	grid-row:4 / 5;
}



#metodos{
	grid-column:1 / 5;
	grid-row: 3 / 4;
	display: flex;
	align-items: center;
	justify-content:center;
	text-align: center;
}


#metodos button{
	background-color: #b4382e;
	height: 50%;
	width: 50%;
}
